<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Some Website</title>
    </head>
    <body>
         <h1>We will be Right Back,Once Updated</h1>
         <p>
             This site is Currently being updated.
         </p>
    </body>
</html>